/*  import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Satisfy');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* all similar content styling codes */

section {
    padding: 100px 0;
}

._max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.skiill,
.skills,
.Photography,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.skiill .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: orange;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}


/* _navbar styling */

._navbar {
    position: fixed;
    background-color: #222;
    width: 100%;
    z-index: 999;
    padding: 18px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

._navbar .span {
    color: orange;
}

._navbar._sticky {
    padding: 15px 0;
    background: orange;
}

._navbar._sticky .span {
    color: #111;
}

._navbar ._max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

._navbar ._logo a {
    font-family: "Satisfy";
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
}

._navbar ._logo a span {
    color: orange;
    transition: all 0.3s ease;
}

._navbar._sticky ._logo a span {
    color: #fff;
}

._navbar .menu li {
    list-style: none;
    display: inline-block;
}

._navbar .menu li a {
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

._navbar .menu li a span {
    color: orange;
}

._navbar .menu li a:hover {
    color: orange;
}

._navbar._sticky .menu li a:hover {
    color: #fff;
}

._navbar._sticky .menu li a span {
    color: #111;
}


/* menu btn styling */

.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: orange;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    position: fixed;
    z-index: -1;
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}


footer {
    font-family: 'Poppins', sans-serif;
}

.faifoot .social_media li {
    padding: 20px 20px 0 0px;
    display: inline;
}



.faifoot footer {
    background: #111;
    padding: 0 10px 0 10px;
    color: #fff;
    text-align: center;
}

.faifoot span a {
    color: orange;
    text-decoration: none;
}

.faifoot span a:hover {
    color: orangered;
    text-decoration: none;
}


/* home section styling */

/* footer section styling */

footer {
    background: #111;
    padding: 10px 10px 3px 10px;
    color: #fff;
    text-align: center;
}

footer span a {
    color: orange;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}

#Ach{
    background-color: whitesmoke;
    padding: 30px 0px;
}
/* .card-body{
} */
.card{
    color: #aaa;
    background-color: #111;
    padding-right: 5px;
    margin: 20px 0;
    box-shadow: 0 0 20px 7px black;
}
.card-body a{
    color: #39b3ff;
}

/* .card img{
    height: 5cm;
    width: auto;
} */
/* .card img:hover{
    transform: scale(1.01);
} */
/* .card:hover{
    transform: scale(1.01);
    background-color: rgb(199, 199, 199);
} */

/* responsive media query start */

@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    ._max-width {
        padding: 0 50px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    ._navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    ._navbar .menu.active {
        left: 0;
    }
    ._navbar .menu li {
        display: block;
    }
    ._navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2 {
        font-size: 70px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }
    ._max-width {
        max-width: 930px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
    .skiill .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    ._max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 32px;
    }
    .home .home-content a {
        font-size: 20px;
    }
    .skiill .serv-content .card {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2 {
        font-size: 50px;
    }
    .home .home-content .text-3 {
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }
    .contact .right form .fields {
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email {
        margin: 0;
    }
    .right form .error-box {
        width: 150px;
    }
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        /* font-size: 23px;
        line-height: 38px; */
    }
}