/* body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
} */

body.active {
    overflow: hidden;
    z-index: -1;
}

.no-js #experience-timeline>div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dcd9d9;
}

.no-js #experience-timeline>div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}

.no-js #experience-timeline>div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.no-js #experience-timeline>div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none;
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: 1px solid #dcd9d9;
}

#experience h2 {
    color: #374054;
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

#experience-timeline:before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #3498db;
    z-index: 0;
}

#experience-timeline:after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    background: #3498db;
    background: linear-gradient(to bottom, #3498db, rgba(52, 152, 219, 0));
    top: 100%;
    left: 303px;
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left;
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0;
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0;
}

.vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0;
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px;
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px;
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054;
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
    align-items: center;
    margin: 0 0 30px 0;
}

.heading:after {
    position: absolute;
    content: "";
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #3498db;
}


/* @media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px;
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px;
    }
    .vtimeline-icon {
        margin-left: 0;
    }
    .vtimeline-content {
        margin-left: 70px;
    }
} */


/* 
@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 100px 15px;
    }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto;
    }
    #lead-content h1 {
        font-size: 3em;
    }
    #lead-content h2 {
        font-size: 1.75em;
    }
    #about {
        text-align: center;
    }
    #about p {
        text-align: left;
    }
} */


/* @media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
    }
    #menu li {
        display: block;
        margin-bottom: 10px;
    }
    #lead-content h1 {
        font-size: 2em;
    }
    #lead-content h2 {
        font-size: 1.3em;
    }
    #lead-content a {
        padding: 10px 20px;
    }
    #lead-down {
        display: none;
    }
    .education-block h3,
    .education-block span {
        float: none;
    }
    .project-image {
        width: 100%;
    }
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none;
    }
    footer {
        text-align: center;
    }
    .social {
        text-align: center;
    }
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.d-flex>* {
    margin: 1.5rem;
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em;
    }
    #lead-content h2 {
        font-size: 1em;
    }
    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .d-flex {
        width: 75%;
        flex-direction: column;
        margin: auto;
    }
    .d-flex>* {
        margin: 1rem;
    }
} */